body {
  background-color: #d43f3f;
}

h1 {
  text-align: center;
  text-shadow: 0 0 10px #140303;
  color: #ffffff;
}

h3 {
  font-size: 30px;
  text-align: center;
  text-shadow: 0 0 10px #140303;
  color: #ffffff;
}

#input1 {
  text-shadow: 0 0 10px #140303;
  color: #ffffff;
  font-size: 40px;
  position: relative;
  left: 10px;

}

#input {
  width: 40%;
  height: 250px;
  resize: none;
  font-size: 20px;
  position: relative;
  left: 10px;

}

#output2 {
  text-shadow: 0 0 10px #140303;
  color: #ffffff;
  font-size: 40px;
  position: relative;
  left: 1050px;
  bottom: 380px;
}

#output {
  width: 40%;
  height: 250px;
  resize: none;
  font-size: 20px;
  position: relative;
  left: 1050px;
  bottom: 390px;
}
/* center the button #clear */


/* #copy {
  position: relative;
  left: 1050px;
  bottom: 10px;
} */

#clear {
  background-color: #1d1b1b;
  border: solid;
  border-radius: 1px;
  border-color: #ffffff;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  top: 20%;
  cursor: pointer;
  position: relative;
  left: 80px;
  top: 50px;
}

/* #copy {
  background-color: #1d1b1b;
  border: solid;
  border-radius: 1px;
  border-color: #ffffff;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  top: 20%;
  cursor: pointer;
  position: relative;
  left: 80px;
  top: 50px;
} */